@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  font-size: 18px;
  font-family: "Roboto", sans-serif, Arial;
  font-weight: 400;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #ABABAB;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
  padding: 0;
}

h1 {
  color: #9ff52f;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-item {
  width: 400px;
  height: 700px;
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-item.active {
  cursor: pointer;
}

.wrap {
  display: flex;
  flex-direction: column;
}
.wrap span {
  display: block;
  margin-bottom: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.hover-element {
  width: 400px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-slider {
  width: 400px;
}